node_modules
.next
.storybook
.vscode
src
next-env.d.ts
next.config.js
*.test.ts
*.test.tsx
*.text.ts.snap
*.text.tsx.snap
__snapshots__
jest.config.ts
jest.setup.ts
.eslintrc.json
.swcrc
.babelrc
.gitignore
# --
docs
tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo
tsconfig.json
tsconfig.build.json
declaration.d.ts
package-lock.json